services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-candidatos-masivos
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
      - PORT=3000
    env_file:
      - .env
    volumes:
      # Volúmenes para persistencia de datos (mapeo a carpetas locales para evitar pérdida de datos)
      - ./uploads:/app/uploads
      - ./logs:/app/logs
    restart: unless-stopped
    networks:
      - app-network



networks:
  app-network:
    driver: bridge
